@import '../../../variables.scss';

.key-component {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;

  > img, div, span {
    pointer-events: none; /* For the Oculus Go hover workaround. */
  }

  &.hover {
    background-color: lighten($keyboard-color, 15%);
  }

  &.hover-off {
    animation: hover-off 0.4s;
  }

  &.key-down {
    background-color: lighten($keyboard-color, 50%);
  }

  &.key-up {

    animation: highlight 1s;
  }

  @keyframes hover-off {
    0% {
      background-color: lighten($keyboard-color, 15%);
    }
    100% {
      background-color: auto;
    }
  }

  @keyframes highlight {
    0% {
      background-color: #3bf;
    }
    100% {
      background-color: auto;
    }
  }
}
